<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Form Processor</title>
    <!-- <link rel="stylesheet" href="/form-style.css"> -->
    <link rel="stylesheet" href="../build/css/style.css">
</head>
<body class="min-h-screen grid place-content-center bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%">
    <h1>Web Form Processor</h1>
    <form action="/routes/name" method="get" class="bg-emerald-500 w-62 h-52 shadow-2xl mr-auto">
        <div>
            <label>First Name :</label>
            <input type="text" name="first"><br>
            <label>Last Name :</label>
            <input type="text" name="last">
        </div>
        <div>
            <button type="submit">Submit Get</button>
            <button type="submit" formmethod="post">Submit using POST</button>
            <button type="reset">Reset</button>
        </div>
    </form> 
<script>
    const first = document.querySelector('input');
    first.focus();

    const resetBtn = document.querySelector("button[type='reset']");
    resetBtn.addEventListener('click',() => first.focus());
</script> 
</body>
</html>